@import '../../../../public/styles/variables/all';

.machine-container{
    width: 100%;
    .status-bar{
        display:block;
        height: 25px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .running{
        background-color: $color-running;
    }

    .inpause{
        background-color: $color-inPause;
    }

    .offline{
        background-color: $color-offline;
    }

    .error{
        background-color: $color-error;
    }
    
    .status-bar:hover{
        cursor: pointer;
    }
}

.machine_info{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.machine_name{
    width: 50%;
    margin: auto 0;
    padding: 0 1%;
    overflow: hidden;

    span{
        line-height: 1.2;
        display: inline-block;
        vertical-align: center;
    }
}

.machine_number{
    width:50%;
    margin: auto 0;
    padding: 0 1%;
    line-height: 40px;
    overflow: hidden;
    text-align: end;

    span{
        // height: 40px;
        line-height: 1.2;
        display: inline-block;
        vertical-align: center;
    }
}

.machine_img{
    text-align: center;
    width:100%;
    height: 60%;
}

.machine_img img{
    height: 100%;
    width: 100%;
    padding: auto 2px;
}

.running-status{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    width: 100%;
    margin-top: 1%;

    >.program_status_icon{
        width:12%;
    }

    >.program_status_icon img{
        width: 100%;
        height: 100%;
        padding-right: 5px;
        object-fit: contain;
    }

    >.program_name{
        width: 70%;
        margin:auto 2%;

        span{
            display: inline-block;
            vertical-align: center;
            line-height: 1.2;
        }
    }
    
    >.program_time{
        width: 10%;
       > mat-icon{
         padding: 10px;
       }
    }
}

.connected{
    color: $color-online;
}

.disconnected{
    color: $color-offline;
}

.error{
    color: $color-error;
}


// for tablets (ipad/ipad Pro etc.)
@media only screen and (min-device-width: $tablet-device-min) and (max-device-width: $tablet-device-max) and (orientation: portrait){
    // mat-card{
    //     width: auto;
    // }

    .machine-container{
        >.status-bar{
            height: 20px;
        }
    }

    .machine_info{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .machine_name{
        width: 100%;
        margin: auto 0;
        padding: 0 1%;
        overflow: hidden;
        line-height: 0;
    
        span{
           font-size: 12px;
        }
    }

    .machine_number{
        width: 100%;
        margin: auto 0;
        padding: 0 1%;
        overflow: hidden;
        line-height: 0;
        text-align: start;
    
        span{
           font-size: 12px;
        }
    }

    .running-status{
        height: 25px;
        >.program_name{
           font-size: 10px;
           margin-top: auto;
           margin-left: 10px;
        }

        >.program_time{
            line-height: 16px;
            > mat-icon{
              font-size:16px;
                padding: 4px;
            }
        }
    }
}

@media only screen and (min-device-width: $tablet-device-min) and (max-device-width: $tablet-device-max) and (orientation: landscape){
    // mat-card{
    //    width: auto;
    // }

    .machine-container{
        >.status-bar{
            height: 20px;
        }
    }
    

    .machine_name span{
        font-size: 12px;
    }

    .machine_number span{
        font-size: 12px;
    }

    .running-status{
        height: 25px;
        >.program_name{
           font-size: 10px;
           line-height: 25px;
           margin-left: 10px;
        }

        >.program_time{
            line-height: 14px;
            > mat-icon{
              font-size:14px;
              padding: 8px;
            }
        }
    }
}