/* ==========================================================================
   #COLOR SETTINGS
   ========================================================================== */

$color-inPause: #FFC000 !default;
$color-running: #BBD03A !default;
$color-offline: #D0D0D0 !default;
$color-error: #FF6565 !default;

$color-online: #929292 !default;