$trumpf-font-family: 'Open Sans', 'Segoe UI', sans-serif !default;

$trumpf-font-size: 16px !default;
$trumpf-line-height: 24px !default;

$trumpf-font-weight-light: 200 !default;
$trumpf-font-weight-normal: 300 !default;
$trumpf-font-weight-bold: 400 !default;
$trumpf-font-weight-black: 700 !default;

$trumpf-font-size-large:  24px !default;
$trumpf-font-size-medium:  20px !default;
$trumpf-font-size-normal: 16px !default;
$trumpf-font-size-small: 14px !default;
