/* ==========================================================================
   #ICON SETTINGS
   ========================================================================== */

   $trumpf-icon-font-path: 'fonts' !default;
   $trumpf-icon-class: 'c-icon' !default;
   $trumpf-icon-class-prefix: 'c-icon--' !default;
   $trumpf-icon-font: 'trumpf-icons' !default;

   /**
    * Icon codes (from fontello)
    */
   $trumpf-icon-codes: (
     x-sw66-ellipsis : '\e801',
     x-sw66-trash : '\e802',
     x-sw66-icon-pencil : '\e803',
     x-sw66-icon-zoomout : '\e804',
     x-sw66-icon-zoomin : '\e805',
     x-sw66-na : '\e806',
     x-sw66-apply : '\e807',
     x-sw66-abort : '\e808',
     x-sw66-floppy : '\e809',
     x-sw66-list-pencil : '\e80a',
     x-sw66-plus : '\e80b',
     x-sw66-pause : '\e80c',
     x-sw66-stop : '\e80d',
     x-sw66-home : '\e80e',
     x-sw66-pause2 : '\e80f',
     x-sw66-chart : '\e810',
     x-sw66-play : '\e813',
     x-sw66-sort-asc : '\e814',
     x-sw66-sort-desc : '\e815',
     x-sw66-sort : '\e816',
     x-sw66-search : '\e818',
     x-sw66-warning : '\e819',
     x-sw66-arrow-up : '\e81a',
     x-sw66-arrow-down : '\e81b',
     x-sw66-arrow-left : '\e81c',
     x-sw66-arrow-right : '\e81d',
     x-sw66-question : '\e81f',
     x-sw66-calendar : '\e820',
     x-sw66-help :'\f29c',

     acblaser-arrows-horizontal-back: '\e900',
     acblaser-arrows-horizontal-front: '\e901',
     acblaser-arrows-horizontal: '\e902',
     antenna-active: '\e903',
     antenna-inactive: '\e904',
     arrow-angled-down-left: '\e905',
     arrow-big-down: '\e906',
     arrow-bilateral-horizontal: '\e907',
     arrow-bilateral-vertical: '\e908',
     arrow-circular-clockwise: '\e909',
     arrow-curved-left-factory: '\e90a',
     arrow-curved-left-funnel: '\e90b',
     arrow-curved-left-large: '\e90c',
     arrow-curved-left: '\e90d',
     arrow-curved-right-large: '\e90e',
     arrow-dashed-down: '\e90f',
     arrow-dashed-left: '\e910',
     arrow-dashed-right: '\e911',
     arrow-dashed-up: '\e912',
     arrow-double-intersected-dot-x1: '\e913',
     arrow-double-intersected-dot-x2: '\e914',
     arrow-double-r1: '\e915',
     arrow-double-r2: '\e916',
     arrow-double-speed-y1: '\e917',
     arrow-double-speed-y2: '\e918',
     arrow-double-x1: '\e919',
     arrow-double-x2: '\e91a',
     arrow-double-z1: '\e91b',
     arrow-double-z2: '\e91c',
     arrow-down-circle-dash: '\e91d',
     arrow-down-point-line: '\e91e',
     arrow-down-scale: '\e91f',
     arrow-down: '\e920',
     arrow-left-large: '\e921',
     arrow-left-line-right: '\e922',
     arrow-left-line: '\e923',
     arrow-left-long: '\e924',
     arrow-left: '\e925',
     arrow-right-large: '\e926',
     arrow-right-line: '\e927',
     arrow-up-circle-dash: '\e928',
     arrow-up-fat: '\e929',
     arrow-up-point-line: '\e92a',
     arrow-up: '\e92b',
     arrows-cross-diagonal: '\e92c',
     arrows-cross: '\e92d',
     arrows-curved-bidirectional: '\e92e',
     arrows-curved-left: '\e92f',
     arrows-down-onetotwo-distance: '\e930',
     arrows-down-onetotwo: '\e931',
     arrows-down-twotoone-distance: '\e932',
     arrows-down-twotoone: '\e933',
     arrows-left-right-in-sparks: '\e934',
     arrows-right-left-large: '\e935',
     arrows-up-onetotwo-point-middle: '\e936',
     arrows-up-onetotwo-point-top-stop: '\e937',
     arrows-up-onetotwo-point-top: '\e938',
     atlas: '\e939',
     axis-rotation: '\e93a',
     backgauge: '\e93b',
     ballon-square-question: '\e93c',
     barrier-hatched-outlined: '\e93d',
     barrier-hatched-triangle: '\e93e',
     barrier-hatched: '\e93f',
     bending-clamping-lower: '\e940',
     bending-clamping-upper: '\e941',
     bending-machine-side-pause: '\e942',
     bending-machine-side: '\e943',
     bending-tool-acb: '\e944',
     bending-tool-lower-arrows-inward: '\e945',
     bending-tool-lower-arrows-outward: '\e946',
     bending-tool-lower: '\e947',
     bending-tool-upper-arrows-inward: '\e948',
     bending-tool-upper-arrows-outward: '\e949',
     bending-tool-upper: '\e94a',
     bendingfinger-arrow-bent-left: '\e94b',
     bendingfinger-arrow-left: '\e94c',
     bendingfinger-arrow-right-front: '\e94d',
     bendingfinger-arrow-right-middle: '\e94e',
     bendingfinger-arrow-right-top: '\e94f',
     bendingfinger-arrows-crossed: '\e950',
     bendingfinger-bulb-lit: '\e951',
     bendingfinger-bulb-unlit: '\e952',
     bendingfinger-clamping-high: '\e953',
     bendingfinger-clamping-low: '\e954',
     bendingfingers-arrow-bottom-left: '\e955',
     bendingfingers-arrow-top-left: '\e956',
     bendingfingers-distance-arrow-left: '\e957',
     bendingfingers-distance-arrows: '\e958',
     bendingfingers-left: '\e959',
     bendingfingers-right: '\e95a',
     bendingmachine-acblaser-back-left: '\e95b',
     bendingmachine-acblaser-back-right: '\e95c',
     bendingmachine-acblaser-front-left: '\e95d',
     bendingmachine-arrows-horizontal: '\e95e',
     bendingmachine-display-beams: '\e95f',
     bendingmachine-display-complete: '\e960',
     bendingmachine-display-finger: '\e961',
     bendingmachine-display-tools: '\e962',
     bendingmachine-frame: '\e963',
     bendingmachine-frontal-bulb-lit: '\e964',
     bendingmachine-frontal-bulb-unlit: '\e965',
     bendingmachine-frontal-split: '\e966',
     bendingmachine-frontal-upper-lit: '\e967',
     bendingmachine-frontal-upper-unlit: '\e968',
     bendingmachine-frontal: '\e969',
     bendingmachine-side-bent-clock: '\e96a',
     bendingmachine-side-bent-laser: '\e96b',
     bendingmachine-side-bent-multiple: '\e96c',
     bendingmachine-side-bent-point: '\e96d',
     bendingmachine-side-bent-rounded: '\e96e',
     bendingmachine-side-bent-sheets: '\e96f',
     bendingmachine-side-bent: '\e970',
     bendingmachine-side-creased: '\e971',
     bendingmachine-side-folded: '\e972',
     bendingmachine-side-hemmed: '\e973',
     bendingmachine-side-open-arrows: '\e974',
     bendingmachine-side-tools-flat: '\e975',
     bendingmachine-side-tools-radius: '\e976',
     bendingmachine-side-unbent-clock: '\e977',
     bendingmachine-side-unbent-point: '\e978',
     bendingmachine-side-unbent: '\e979',
     bendingtool-adapter: '\e97a',
     bendingtool-folding: '\e97b',
     bendingtool-holder: '\e97c',
     bendingtool-lower-multiv: '\e97d',
     bendingtool-lower-wingbend: '\e97e',
     bendingtool-top-radiowaves: '\e97f',
     bendingtools-collection: '\e980',
     bendingtools-swivel: '\e981',
     blob-cross: '\e982',
     block-arrow-horizontal-in: '\e983',
     block-arrow-horizontal-through: '\e984',
     block-arrows-corner: '\e985',
     book-open: '\e986',
     bowl-arrow-angled-up-right-sheet: '\e987',
     bowl-arrow-in: '\e988',
     bowl-arrow-out: '\e989',
     bowl-arrows-inside: '\e98a',
     box-pencil: '\e98b',
     box: '\e98c',
     broom: '\e98d',
     buzzer-hand: '\e98e',
     caliper-disc-rectangle-curved: '\e98f',
     caliper-star: '\e990',
     caliper: '\e991',
     camera-1-dashed: '\e992',
     camera-1: '\e993',
     camera-2-dashed: '\e994',
     camera-2: '\e995',
     camera-3-dashed: '\e996',
     camera-3: '\e997',
     camera-4-dashed: '\e998',
     camera-4: '\e999',
     camera-5-dashed: '\e99a',
     camera-5: '\e99b',
     camera-6-dashed: '\e99c',
     camera-6: '\e99d',
     camera-layers: '\e99e',
     camera-video-1: '\e99f',
     camera-video-2: '\e9a0',
     camera-video-3: '\e9a1',
     camera-video: '\e9a2',
     camera: '\e9a3',
     cameras-mirror: '\e9a4',
     cart: '\e9a5',
     chain: '\e9a6',
     check: '\e9a7',
     checks: '\e9a8',
     chevron-double-up: '\e9a9',
     chevron-down: '\e9aa',
     chevron-left: '\e9ab',
     chevron-right: '\e9ac',
     chevron-up: '\e9ad',
     circle-arrow-left: '\e9ae',
     circle-arrow-right: '\e9af',
     circle-cross: '\e9b0',
     circle-dashed: '\e9b1',
     circle-quartered: '\e9b2',
     clipboard-list: '\e9b3',
     close: '\e9b4',
     cnc-struck: '\e9b5',
     cnc: '\e9b6',
     computer: '\e9b7',
     cone: '\e9b8',
     connection-check: '\e9b9',
     connection-error: '\e9ba',
     connection-fx: '\e9bb',
     connection-picture: '\e9bc',
     connection-screen: '\e9bd',
     connection-struck: '\e9be',
     connection: '\e9bf',
     cross-circled: '\e9c0',
     cross-double: '\e9c1',
     cross: '\e9c2',
     crosshairs: '\e9c3',
     cursor: '\e9c4',
     delta: '\e9c5',
     digital-signal: '\e9c6',
     disc: '\e9c7',
     document: '\e9c8',
     documents: '\e9c9',
     dotmatrix-center: '\e9ca',
     dotmatrix-topleft: '\e9cb',
     dots-ten-square: '\e9cc',
     drawers: '\e9cd',
     ellipsis: '\e9ce',
     empty: '\e9cf',
     envelope: '\e9d0',
     factory: '\e9d1',
     filter-disc: '\e9d2',
     filter: '\e9d3',
     floppy: '\e9d4',
     folder-closed: '\e9d5',
     folder-document: '\e9d6',
     folder-medium: '\e9d7',
     folder-open: '\e9d8',
     folders-medium: '\e9d9',
     footprints: '\e9da',
     formula: '\e9db',
     gear: '\e9dc',
     gears: '\e9dd',
     globe: '\e9de',
     graph-stepped: '\e9df',
     hammer: '\e9e0',
     hand-cloth: '\e9e1',
     hand: '\e9e2',
     hmi-admin: '\e9e3',
     hmi-complex: '\e9e4',
     hmi-developer: '\e9e5',
     hmi-novice: '\e9e6',
     hmi-service: '\e9e7',
     hmi-simple: '\e9e8',
     hourglass: '\e9e9',
     house: '\e9ea',
     information: '\e9eb',
     key-circle: '\e9ec',
     key-semicircles: '\e9ed',
     key: '\e9ee',
     keyboard: '\e9ef',
     laser-arrow-down: '\e9f0',
     laser-clock: '\e9f1',
     laser-plus: '\e9f2',
     laser: '\e9f3',
     lens: '\e9f4',
     liftmaster: '\e9f5',
     lightning: '\e9f6',
     line-zigzag: '\e9f7',
     line: '\e9f8',
     lines-lengthening: '\e9f9',
     lines-shortening: '\e9fa',
     lines: '\e9fb',
     list-overlapped: '\e9fc',
     list-pencil: '\e9fd',
     list-tree: '\e9fe',
     list: '\e9ff',
     machine-generic: '\ea00',
     magnifyingglass: '\ea01',
     octagon-dashed: '\ea02',
     octagon-sheet: '\ea03',
     octagon-squares: '\ea04',
     octagon: '\ea05',
     package: '\ea06',
     padlock-closed: '\ea07',
     padlock-open: '\ea08',
     palette: '\ea09',
     paperbasket: '\ea0a',
     part-arrow-down: '\ea0b',
     part-asterisk: '\ea0c',
     part-diamond: '\ea0d',
     part-disc-small: '\ea0e',
     part-disc: '\ea0f',
     part-exclamation: '\ea10',
     part-gear: '\ea11',
     part-hexagon: '\ea12',
     part-info: '\ea13',
     part-interrobang: '\ea14',
     part-marker: '\ea15',
     part-octagon: '\ea16',
     part-pin: '\ea17',
     part-triangle: '\ea18',
     part-user: '\ea19',
     paused: '\ea1a',
     pencil-numbers: '\ea1b',
     pencil: '\ea1c',
     phone: '\ea1d',
     picture-floppy: '\ea1e',
     picture: '\ea1f',
     pin: '\ea20',
     plus: '\ea21',
     power: '\ea22',
     press-beam: '\ea23',
     press-table: '\ea24',
     printer: '\ea25',
     profiles: '\ea26',
     pylon-start: '\ea27',
     pylon-stop: '\ea28',
     readingglass: '\ea29',
     readout-gear: '\ea2a',
     readout-laser: '\ea2b',
     rectangle-arrows: '\ea2c',
     rectangle: '\ea2d',
     rectangles-arrows: '\ea2e',
     rectangles-full: '\ea2f',
     registration-mark: '\ea30',
     ring: '\ea31',
     scissors: '\ea32',
     screen-cross: '\ea33',
     scroll: '\ea34',
     sheet-angle-arrows: '\ea35',
     sheet-angle: '\ea36',
     sheet-bent-laser: '\ea37',
     sheet-bowl: '\ea38',
     sheet-check: '\ea39',
     sheet-cut-quarters: '\ea3a',
     sheet-cut: '\ea3b',
     sheet-detail: '\ea3c',
     sheet-pin-small: '\ea3d',
     sheet: '\ea3e',
     sheets: '\ea3f',
     shoe-arrow-down: '\ea40',
     shoe-outlined: '\ea41',
     shoe-radiowaves: '\ea42',
     shoe-up-arrow-down: '\ea43',
     shoes: '\ea44',
     spanner-document: '\ea45',
     spanner: '\ea46',
     speechballoon: '\ea47',
     square-circle-dash: '\ea48',
     square-corners: '\ea49',
     square-cut-squares: '\ea4a',
     square-fragmented: '\ea4b',
     square-line-cut: '\ea4c',
     square-perforated: '\ea4d',
     square-point-line: '\ea4e',
     square-question: '\ea4f',
     square-triangle: '\ea50',
     square: '\ea51',
     squares-small: '\ea52',
     squares-tetris-z: '\ea53',
     squares: '\ea54',
     star: '\ea55',
     stop-play: '\ea56',
     storage: '\ea57',
     table-lines: '\ea58',
     table: '\ea59',
     target: '\ea5a',
     thermometer-1: '\ea5b',
     thermometer-2: '\ea5c',
     thermometer-3: '\ea5d',
     thermometer-4: '\ea5e',
     thermometer-5: '\ea5f',
     thermometer-6: '\ea60',
     thermometer: '\ea61',
     tick: '\ea62',
     triangle-down: '\ea63',
     triangle-exclamation: '\ea64',
     triangle-left: '\ea65',
     triangle-right: '\ea66',
     triangle-top-right: '\ea67',
     triangle-up: '\ea68',
     trumpf-logo: '\ea69',
     wand: '\ea6a',
   );