$two-column-layout-min-width: 768px !default;

$two-column-layout-max-width: 1024px !default;

$single-column-layout-min-width: 300px !default;

$pc-web-small-min: 960px !default;
$pc-web-mid-min: 1368px !default;
$pc-web-large-min: 2000px !default;

$tablet-device-min: 481px !default;
$tablet-device-max: 1366px !default;
$tablet-device-default: 768px !default;

$test: 769px !default;

$mobile-device-max: 480px !default;